body {
    padding: 100px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(36, 34, 34);
}

#main{
    padding: 50px;
    text-align: center;
}

.selections {
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

button {
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button:hover {
    border: solid 5px #a4a4a4;    
}

#rock:active, 
#paper:active,
#scissors:active {
    background: #e1e72e;
}

#rock {
    background-color: rgb(170, 213, 239);
}

#paper {
    background-color: rgb(173, 238, 173);
}

#scissors {
    background-color: rgb(239, 161, 161);
}